In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Downloads/IMDbmovies.csv')
df.head()

C:\Users\user\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN,NaN,25.0,3.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0

In [3]:
df=df[:30000]

In [4]:
df['description'].head(10)

0    The adventures of a female reporter in the 1890s.
1    True story of notorious Australian outlaw Ned ...
2    Two men of high rank are both wooing the beaut...
3    The fabled queen of Egypt's affair with Roman ...
4    Loosely adapted from Dante's Divine Comedy and...
5    An account of the life of Jesus Christ, based ...
6    The story of Madame DuBarry, the mistress of L...
7    An epic Italian film "Quo Vadis" influenced ma...
8    The movie depicts the Romanian War of Independ...
9    Richard of Gloucester uses manipulation and mu...
Name: description, dtype: object

In [5]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_vector = TfidfVectorizer(stop_words='english')
df['description'] = df['description'].fillna('')
tfidf_matrix = tfidf_vector.fit_transform(df['description'])

In [6]:
#linear kernel helps create similarity matrix
from sklearn.metrics.pairwise import linear_kernel
sim_matrix = linear_kernel(tfidf_matrix, tfidf_matrix)

In [7]:
indices = pd.Series(df.index, index=df['title']).drop_duplicates()
indices[:10]

title
Miss Jerry                                             0
The Story of the Kelly Gang                            1
Den sorte drøm                                         2
Cleopatra                                              3
L'Inferno                                              4
From the Manger to the Cross; or, Jesus of Nazareth    5
Madame DuBarry                                         6
Quo Vadis?                                             7
Independenta Romaniei                                  8
Richard III                                            9
dtype: int64

In [8]:

def content_based_recommender(title, sim_scores=sim_matrix):
    idx = indices[title]
    sim_scores = list(enumerate(sim_matrix[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:11]
    movie_indices = [i[0] for i in sim_scores]
    return df['title'].iloc[movie_indices]

In [9]:
content_based_recommender('Quo Vadis')

1419             Il segno della croce
11029     Il conquistatore di Corinto
8811                Mio figlio Nerone
9697        La rivolta dei gladiatori
15265                      Up Pompeii
11827    La caduta dell'impero romano
17702                      Sebastiane
10872        La rivolta degli schiavi
11030            Costantino il grande
17681                       Ju ma pao
Name: title, dtype: object

In [12]:
content_based_recommender('Miss Jerry')

16276                La porno detective
3049            Mother Carey's Chickens
3478             Arrivederci in Francia
3462                          Pinocchio
10581    Die Abenteuer des Grafen Bobby
16246                  Lolite supersexy
8229                 Prima dell'uragano
3924              La riva dei peccatori
20262                             Annie
13215             I pericoli di Paolina
Name: title, dtype: object